<%- include('header') -%>
<style>
    html{
        background-image: -webkit-linear-gradient(80deg, #0ad078 200px, #CFFFEA 0px);
    }
</style>
<body>
    <div class="box" id="heading">
        <h2>About me</h2>
    </div>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Molestiae ratione beatae minima libero, voluptatum repellat vel mollitia, 
        eveniet ad maiores quaerat distinctio sit earum, 
        officiis repellendus excepturi animi sint consectetur
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Molestiae ratione beatae minima libero, voluptatum repellat vel mollitia, 
        eveniet ad maiores quaerat distinctio sit earum, 
        officiis repellendus excepturi animi sint consectetur
    </p>
</body>
<%- include('footer') -%>