html {
  background-color: #CFFFEA;
  background-image: -webkit-linear-gradient(70deg, #0ad078 500px, #CFFFEA 0px);
  min-height: 657px;
  font-family: 'Roboto Mono', monospace;
}

h1,h2 {
  margin: 0px;
}

h1 {
  font-weight: 200;
  font-size: 2.5rem;
  color: white;
}

h2 {
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
  margin-bottom: 10px;
}

.box {
  max-width: 500px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #0ad078;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #0ad078;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 15px;
  font-size: 20px;
  font-weight: 400;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 45px;
}

button {
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #0ad078;
  color: #CFFFEA;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  margin-left: 20px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 70%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #0ad078;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
